.container
  width: 986px
  margin: 0 auto

#app
  height: 100%

  > div
    height: 100%

.carousel
  height: 100%

  .carousel-inner
    height: 100%

    .item
      padding-top: 30px
      height: 100%
      color: white

.home-bg
  cover-img: url('/img/bg/Beanstalk.jpg')

.lobby-bg
  cover-img: url('/img/bg/TheRoot.jpg')

.deckbuilder-bg
  cover-img: url('/img/bg/ProjectAtlas.jpg')

.cardbrowser-bg
  cover-img: url('/img/bg/DysonMemChip.jpg')

.about-bg
  cover-img: url('/img/bg/FastTrack.jpg')

.reset-bg
  cover-img: url('/img/bg/Logos.jpg')

